/* From Uiverse.io by eslam-hany */
.title{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.button {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}
.button:hover {
    transform: translateY(-3px);
}

/* from */
.form {
    justify-content: center;
  --bg-light: #efefef;
  --bg-dark: #707070;
  --clr: #58bc82;
  --clr-alpha: #9c9c9c60;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  /* padding: auto; */
}

.form .input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form input[type="number"] {
  /* -moz-appearance: textfield; */
  height: 2.5rem;
  margin-left: 20px;
  margin-right: 20px;
}
.form input {
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  outline: 2px solid var(--bg-dark);
}

.form input:focus {
  outline: 2px solid var(--clr);
}

.label {
  align-self: flex-start;
  color: #58bc82;
  font-weight: 600;
}

.form .submit {
  width: 40%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 3rem;
  background-color:  white;
  color: var(--clr);
  border: none;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: 0.9rem;
}

.form .submit:hover {
  /* background-color: var(--clr); */
  background-color: #58bc82;
  color: white;
}


/* login */
*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.body .background-page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-image: url('../images/fond.jpeg'); */
    background-color: #333;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.body{
    background: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0 auto;
    background-color: #f9f9f9;
    height: auto;
}

.content{
    background-color: transparent;
    width: 420px;
    color: #fff;
    border-radius: 5%;
    padding: 30px 40px;
    border: 2px solid white;
    backdrop-filter: blur(20px);
    box-shadow:  0 0 10px rgba(0, 0, 0, -1);
}

.content h1{
    text-align: center;
    font-size: 36px;
}

.content .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid white;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;

}

.input-box input::placeholder{
    color: #fff;
}

.input-box i{
    position:absolute ;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.content .button{
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, -1);
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.content .signUP{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.signUP p a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.signUP p a:hover{
    text-decoration: underline;
}

/* table */
.tab{
    max-width: 70%; 
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    color: #333;
    border-color: #2cb5a0;
}

.tab th {
    background-color: #e0f2f7;
    color: #2c3e50;
    font-weight: bold;
    padding: 12px 20px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid #a7d9eb;
}

.tab th:nth-child(1) {
    text-align: left;
}

.tab th:nth-child(n+2) {
    text-align: right;
}

.tab tbody tr td {
    padding: 20px 30px;
    border-bottom: 1px solid #eee;
    text-align: left;
}

.tab td:nth-child(n+2) {
    text-align: right;
}

.tab tbody tr:nth-child(even) {
    background-color: #fcfcfc; 
}

.tab tbody tr:hover {
    background-color: #f0f0f0; 
}
